@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import 'bootstrap/scss/bootstrap';

$bg-color: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);

.app_container {
  height: 55rem;
  width: 55rem;
  background: #eee;
  font-family: 'Poppins', sans-serif;
}

.image{
  height: 20rem;
  width: 100%;

  &:hover{
    filter: opacity(.5);
  }
}

.click_button, .add_item_button{
  padding: 1rem;
  margin-top: 2rem;
  background: #8f8f8f;
  font-size: 1.3rem;
  color: #fff;
  border: .1rem solid #8f8f8f;
  border-radius: 1rem;
}

.add_item_button{
  border: .2rem solid rgb(28, 155, 28);
  background: none;
  color: #222
}

.item-added{
  margin: 2rem 0 0 3rem;
  font-size: 1.3rem;
}