*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 65%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}