@import '~bootstrap/scss/bootstrap';

.app_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 40rem;
  width: 40rem;
  background: rgb(40, 2, 255);
  border-radius: 1rem;
}

.joke_accordion {
  font-size: 1.5rem;
  text-align: center;
  gap: .5rem;
}

.accordion-button{
  font-size: 1.5rem !important;
}

