@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 65%;
  --fontfamily: 'Poiret One', cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
