@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import 'bootstrap/scss/bootstrap';

$bg-color: linear-gradient( 135deg, #FF6FD8 10%, #3813C2 100%);;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_container {
  @include center;
  height: 60rem;
  width: 40rem;
  background: $bg-color;
  color: #fff;
  font-family: var(--fontFamily);
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 0.5rem;
  color: #f55555;
}

input[type='text'],
input[type='email'],
textarea {
  border-radius: 0.5rem;
  padding: 0.5rem;

  &::placeholder {
    padding: 0.2rem;
  }
}

textarea::placeholder {
  padding: 0.5rem;
  color: #777;
}

input[type='checkbox'] {
  padding: 0.5rem;
}

label {
  color: #639;
  padding-left: .5rem;
}

fieldset {
  background-color: #474747;
  color: #fff;
  padding: 0.5rem;
  border-radius: .5rem;

  & legend {
    font-size: 1.3rem;
  }
}

.favColor{
  text-align: center;
}

.submit_btn{
  margin-top: 1rem;
  border: none;
  padding: 1rem;
  background: #fccf31;
  color: #474747;
  border-radius: .2rem;
}

// Sign Up Form
.form-container {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup--form {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}

.form--input {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  font-family: 'Inter', sans-serif;
}

.form--submit {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: #639;
  border: none;
  cursor: pointer;
}

.form--marketing {
  display: flex;
  margin-bottom: 20px;
  align-items: center;

  & input{
    margin-right: 1rem;
  }
}
